<div class="ekart-header">
    <div class="ekart-logo">
        ekart
    </div>
    <div class="ekart-header-nav">
        <div class="ekart-header-nav">
            <div class="ekart-top-bar">
                <a href="#">H</a>
                <a href="#">I</a>
                <a href="#">G</a>
                <a href="#">H</a>
            </div>
            <div class="ekart-bottom-bar">
                <div class="ekart-menu">
                    <a href="#">B</a>
                    <a href="#">O</a>
                    <a href="#">N</a>
                    <a href="#">D</a>
                </div>
                <div class="ekart-search-bar">
                    <input type="text" class="ekart-search-box" placeholder="search">
                    <button class="ekart-search-btn">
                        Search<i class="fa fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>